NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=secret-key

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mysql://root:password@localhost:3306/database-univesp"
